.footer {
  border-top: 1px solid #f0f0f0;
  padding: 30px 15px 60px 15px;

  &-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &-brand {
    svg {
      width: 44px;
      height: 48px;
      margin-right: 20px;

      path {
        fill: #0071CE;
      }
    }
  }

  &-wrapper {
    display: flex;
  }

  p {
    font-size: 15px;
    color: #797979;

    a {
      text-decoration: underline;
      color: #1e55a5;
      font-weight: 600;
    }
  }
}

@media (max-width: 575px) {
  .footer-container {
    display: block;
  }

  .footer-github {
    margin-top: 20px;
  }
}
