<section class="form">
  <h2>I need help.</h2>
  <form>
    <label>
      Post code (initial prefix only, ie. BD16):
      <input type="text" name="postcode" id="postcode" [(ngModel)]="postcode" />
    </label>
    <button type="submit" [disabled]="!postcode">Find a helper</button>
  </form>
</section>
<section class="data">

  <ng-container *ngIf="!postcode">
    <b>Please enter a postcode to locate helpers</b>
  </ng-container>

  <ng-container *ngIf="!helpers.length && postcode">
    <b class="data__empty">There are no helpers available in {{ postcode }}</b>
  </ng-container>

  <ng-container *ngIf="helpers.length && postcode">
    <div class="data__item" *ngFor="let helper of helpers">
      <span class="data__item__heading">{{ helper.name }}</span>
      <span class="data__item__body">{{ helper.servicesProvided }}</span>
      <span class="data__item__footer">{{ helper.contactPhone }}</span>
    </div>
  </ng-container>
</section>
