<div class="faqs">
  <div class="faqs-intro">
    <h1>If you struggle to find an answer below, get in touch.</h1>
    <p>You can email us at <a href="mailto:help@kind.co.uk">help@kind.co.uk</a> or join our <a href="https://facebook.com/findlocalheroes">Facebook group</a>.</p>
  </div>

  <h2>General</h2>

  <p class="question">Can I contact anybody at KIND?</p>
  <div class="answer">
    <p>If you have any questions about the KIND website please email <a href="mailto:help@kind.co.uk">help@kind.co.uk</a><p>
    <p>You can also reach out on <a href="https://twitter.com/findlocalheroes">Twitter</a> and <a href="https://facebook.com/findlocalheroes">Facebook</a></p>
  </div>

  <p class="question">Should I be self isolating? What are the symptoms of coronavirus?</p>
  <div class="answer">
    <p>KIND is run by volunteers.</p>
    <p>We are not medical professionals and we are not qualified to give medical advice.</p>
    <p>Please visit the <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS website</a> for health information and advice.</p>
  </div>

  <p class="question">Can I get involved with KIND?</p>
  <div class="answer">
    <p>Absolutely! We're a group of volunteers and welcome offers of support.</p>
    <p>Please email <a href="mailto:help@kind.co.uk">help@kind.co.uk</a> for more information.</p>
    <p>If you're a developer please head over to our <a href="https://github.com/true9/kind-client">public GitHub repository</a> to get involved.</p>
  </div>

  <h2>Offering Help</h2>

  <p class="question">I don't want to give my contact number to strangers.</p>
  <div class="answer">
    <p>Unfortunately the only way to offer help via KIND is by listing your mobile number.</p>
    <p>This is the most direct and clear way to communicate in these urgent times of need.</p>
  </div>

  <p class="question">Can I stipulate the terms of my help?</p>
  <div class="answer">
    <p>You can outline the help you are willing to provide (for example, the times and type of help you can offer). The more information you add, the better.</p>
  </div>

  <p class="question">Can I edit or remove my offer of help if my situation changes?</p>
  <div class="answer">
    <p>Please email <a href="mailto:help@kind.co.uk">help@kind.co.uk</a> with your mobile number and we will edit or remove your offer of help ASAP.</p>
  </div>

  <p class="question">How will I know if those asking for help are actually self isolating?</p>
  <div class="answer">
    <p>We are relying on communication between both parties to be honest, open and responsible.</p>
    <p>If you have concerns please email <a href="mailto:help@kind.co.uk">help@kind.co.uk</a>.</p>
  </div>

  <p class="question">Will my information be visible publicly?</p>
  <div class="answer">
    <p>Yes. However, we only ask for your first name, mobile number and first part of your postcode. Your offer of help will only appear on searches that match your postcode.</p>
  </div>

  <p class="question">What do I do if too many people contact me?</p>
  <div class="answer">
    <p>If demand for your help is becoming overwhelming, please consider removing your details from KIND by emailing <a href="mailto:help@kind.co.uk">help@kind.co.uk</a>.</p>
  </div>

  <h2>Data Protection</h2>

  <p class="question">What data do you store?</p>
  <div class="answer">
    <p>If you choose to register as a local hero, KIND will store your name, postcode, mobile number and offer of help.</p>
    <p>This information will be <strong>publicly visible</strong> to anyone searching in your postcode area.</p>
  </div>

  <p class="question">Will you sell my data or pass it on to third-parties?</p>
  <div class="answer">
    <p>No. We will never sell or transfer your data.</p>
    <p>However, all information submitted will be <strong>publicly visible</strong>.</p>
  </div>

  <p class="question">How can I remove my details from KIND</p>
  <div class="answer">
    <p>Please email <a href="mailto:help@kind.co.uk">help@kind.co.uk</a> with your mobile number and we will remove your details ASAP.</p>
  </div>

  <p class="question">How do I report abuse?</p>
  <div class="answer">
    <p>Please email <a href="mailto:help@kind.co.uk">help@kind.co.uk</a> with information and we will get back to you ASAP.</p>
  </div>
</div>