<h1>Registration</h1>
<form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
  <label>
    Name:
    <input type="text" formControlName="name" required />
  </label>
  <label>
    Partial postcode:
    <input type="text" formControlName="partialPostcode" required />
  </label>
  <label>
    Contact mobile number:
    <input type="text" formControlName="contactPhone" required />
  </label>
  <label>
    Services you can provide:
    <textarea formControlName="servicesProvided" required></textarea>
  </label>
  <label>
    Email address (this is not displayed publicly):
    <input type="text" formControlName="emailAddress" required />
  </label>
  <label>
    Password:
    <input type="password" formControlName="password" required />
  </label>
  <button type="submit" [disabled]="!registrationForm.valid">Register</button>
  <span *ngIf="error">{{ error }}</span>
</form>
