body {
  color: #1e55a5;
  font-size: 16px;
  line-height: 1;
  font-family: Arial,freesans,sans-serif;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

p {
  line-height: 24px;
}